---
import { headingMap } from '../data/globalHeadingMap';

interface Props {
  id: keyof typeof headingMap;
  text?: string;
}

const { id, text } = Astro.props as Props;
const heading = headingMap[id];
const displayText = text || heading?.text || id;
const href = heading?.url;

// If ID doesn't exist, always return "Bad ID"
const finalDisplayText = !heading ? "Bad ID" : displayText;
---

{href ? (
  <a href={href}>{finalDisplayText}</a>
) : (
  <span style="color: red;" title="Missing global heading ID">{finalDisplayText}</span>
)}
